/* make the GIF stay in the left corner */
.assist-sector {
    position: fixed;
    right: 0;
    bottom: 0;
  }
  .notification {
    display: none;
    background-color: aliceblue;
    transition: opacity 0.5s ease-out;
    border-radius: 10px;
    position: absolute;
    bottom: 4.5rem;
    right: 4rem;
    padding: 10px;
  }
  .assistant {
    height: 6rem;
    z-index: 1000;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  