:root {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  background: rgb(25, 33, 52);
  background: linear-gradient( 180deg, rgba(25, 33, 52, 1) 28%, rgba(7, 8, 21, 1) 75% );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: white;
}